<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="headLine">
        <p id="current-date"></p>
      </h1>
      <div class="todo-app">
        <h2>To-Do List <img src="/to-do.png" alt="" /></h2>
        <div class="row">
          <input type="text" id="input-box" placeholder="Add a task" />
          <button onclick="AddTask()">Add</button>
        </div>
        <ul id="list-container"></ul>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
